<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duiveman BV</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <a href="/" class="logo">
        <img src="{% static 'images/logo-duiveman.png' %}" alt="Duiveman BV Logo">
    </a>
    <!-- Add your CSS and JavaScript links here -->
</head>
{% block content %} BASE {% endblock %}
<body>
    <header class="nav-header">
        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="dropdown">
                    <a href="{% url 'diensten' %}">Diensten</a>
                    <div class="dropdown-content">
                        <a href="{% url 'spuitwerk' %}">Spuitwerk</a>
                        <a href="{% url 'stucwerk' %}">Stucwerk</a>
                        <a href="{% url 'sierpleister' %}">Sierpleister</a>
                        <a href="{% url 'sauzen' %}">Sauswerk</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="{% url 'overige_diensten' %}">Overige Diensten</a>
                    <div class="dropdown-content">
                        <a href="{% url 'lijstwerk' %}">Lijstwerk</a>
                        <a href="{% url 'muurschildering' %}">Muurschildering</a>
                    </div>
                </li>
                <li><a href="{% url 'offerte' %}">Offerte</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Add your footer here -->
    <footer>
        <div class="cta-button">
            <a href="https://www.google.nl/maps/place/Noorderveld+7,+8307+DS+Ens/@52.6421974,5.8187105,19z/data=!3m1!4b1!4m6!3m5!1s0x47c87e771d9d9be1:0xa556cb0108d9e3d9!8m2!3d52.6421974!4d5.8193542!16s%2Fg%2F11c0y2lhnp?hl=nl&entry=ttu" target="_blank">
                Route Beschrijving
            </a>
        </div>
        <div class="footer-links">
            <a href="{% url 'privacy' %}">Privacy</a>
            <a href="{% url 'disclaimer' %}">Disclaimer</a>
        </div>
    </footer>
</body>
</html>
