<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duiveman BV</title>
    <!-- Add your CSS and JavaScript links here -->
</head>


<body>
    <header>
        <a href="/" class="logo">LOGO PLACEHOLDER</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="diensten/">Diensten</a>
                    <div class="dropdown-content">
                        <a href="spuitwerk/">Spuitwerk</a>
                        <a href="stucwerk/">Stucwerk</a>
                        <a href="sierpleister/">Sierpleister</a>
                        <a href="lijstwerk/">Lijstwerk</a>
                        <a href="sauzen/">Sauzen</a>
                    </div>
                </li>
                <li><a href="offerte/">Offerte</a></li>
                <li><a href="contact/">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Add your footer here -->
    <footer>
        <div class="cta-button">
            <a href="https://www.google.nl/maps/place/Noorderveld+7,+8307+DS+Ens/@52.6421974,5.8187105,19z/data=!3m1!4b1!4m6!3m5!1s0x47c87e771d9d9be1:0xa556cb0108d9e3d9!8m2!3d52.6421974!4d5.8193542!16s%2Fg%2F11c0y2lhnp?hl=nl&entry=ttu" target="_blank">
                Route Beschrijving
            </a>
        </div>
        <div class="footer-links">
            <a href="privacy-verklaring/">Privacy Verklaring</a>
            <a href="disclaimer/">Disclaimer</a>
        </div>
    </footer>
    
</body>
</html>
