{% extends 'base.html' %}

{% block content %}
<main style="display: flex; justify-content: center; align-items: center; max-width: 800px; margin: 0 auto; padding-top: 250px;">
    <div style="text-align: center;">
        <p>Voor vragen, neem vrijblijvend contact met ons op middels onderstaande gegevens. Onze medewerkers staan voor u klaar!</p>

        <p>
            Duiveman Wand en Plafondspuitbedrijf BV<br>
            Noorderveld 7<br>
            8307 DS Ens<br>
            Tel.: 0527 - 251 389<br>
            Fax: 0527 - 25 13 93<br>
            Email: info@duiveman-bv.nl
        </p>
    </div>
</main>
{% endblock %}

