{% extends 'base.html' %}

{% block content %}
<main style="display: flex; justify-content: center; align-items: center; max-width: 800px; margin: 0 auto; padding-top: 250px;">
    <div style="text-align: center;">
        <h2>Disclaimer</h2>
        <p>De op deze website getoonde informatie wordt door Duiveman b.v. met zorg samengesteld, echter voor de juistheid en volledigheid daarvan kan niet worden ingestaan. De verstrekte informatie op deze internetsite kan op ieder moment zonder verdere aankondiging worden gewijzigd.</p>

        <p>Duiveman b.v. aanvaardt geen enkele aansprakelijkheid voor het ononderbroken functioneren van deze website. Aan de met behulp van door de gebruiker verstrekte gegevens tot stand gekomen berekeningen, kunnen geen rechten worden ontleend.</p>

        <p>Hoewel Duiveman b.v. alles in het werk stelt om misbruik te voorkomen, is Duiveman b.v. niet aansprakelijk voor informatie en/of berichten die door gebruikers van de website via Internet verzonden worden.</p>

        <p>Verwijzingen naar sites die niet door Duiveman b.v. worden onderhouden zijn louter ter informatie van de bezoeker opgenomen. Hoewel Duiveman b.v. uiterst zorgvuldig is ten aanzien van de sites waarnaar verwezen wordt, kan zij niet instaan voor de inhoud, actualiteit, volledigheid, kwaliteit en het functioneren daarvan. Elke aansprakelijkheid met betrekking tot sites die niet door Duiveman b.v. worden onderhouden wordt afgewezen.</p>

        <p>Wij, respectievelijk de rechthebbende, behouden alle rechten met betrekking tot de op deze site gepresenteerde informatie, daaronder begrepen, maar niet beperkt tot teksten, logo's, handelsmerken, grafisch materiaal.</p>

        <p>Het is de gebruiker van deze site niet toegestaan informatie door te geven, te vermenigvuldigen of te verspreiden zonder de uitdrukkelijke, schriftelijke toestemming van ons.</p>

        <p>Door deze site te bekijken en de daarop geboden informatie te gebruiken stemt u in met de hierboven beschreven voorwaarden en beperkingen.</p>
    </div>
</main>
{% endblock %}
