{% extends 'base.html' %}

{% block content %}
<main style="display: flex; justify-content: center; align-items: center; max-width: 800px; margin: 0 auto; padding-top: 250px;">
    <div style="text-align: center;">
        <h1>Welkom bij Duiveman BV</h1>
        <p>
            Uw eigen sfeer scheppen in een huis vraagt om spelen met kleuren en materialen. Graag adviseren wij u vrijblijvend bij de wand en plafond inrichting van uw nieuwe woning.
        </p>
        <p>
            Waarschijnlijk gaat u binnenkort verhuizen naar een ander huis of denkt u erover na om uw huidige woning aan te pakken.
            <br>
            <br>
            <h4>"Creëer uw eigen sfeer met de juiste touch"</h4>
            <br>
            Uw eigen sfeer scheppen in een huis vraagt om spelen met kleuren en materialen. Wij willen u graag kosteloos adviseren bij de wand en plafond inrichting van uw nieuwe woning. Sfeer is een bepalende factor in uw leefgenot, immers veelal wordt een woning gekocht o.b.v. de ruimte en sfeer die het uitstraalt.
            De mogelijkheden om door middel van spuittechniek of sierpleister in diverse kleuren of met lijstwerk en ornamenten muren of plafond een exclusieve uitstraling te geven zijn legio.
            Indien u daar prijs op stelt kunnen wij u ook helpen bij de afbouw van uw woning.
            <br>
            Wanneer u met ons contact opneemt voor een vrijblijvende afspraak, zullen wij u onder het genot van een kopje koffie of thee graag adviseren bij de mogelijkheden van uw huis een persoonlijke uitstraling te geven.
            Natuurlijk staan wij garant voor kwaliteit en een scherpe prijs!
        </p>
    </div>
</main>
{% endblock %}
