{% extends 'base.html' %}

{% block content %}
<main style="display: flex; justify-content: center; align-items: center; max-width: 800px; margin: 0 auto; padding-top: 250px;">
    <div style="text-align: center;">
        <h2>Lijstwerk en Ornamenten</h2>
        <p>De mogelijkheden om met lijstwerk en ornamenten een exclusievere uitstraling aan uw woning te geven zijn eindeloos. Houdt u meer van een modernere stijl of juist van een authentieke uitstraling, niets is ons te gek.</p>

        <p>Gedurende een vrijblijvend eerste gesprek zullen wij uw wensen uitvoerig in kaart brengen. Tevens zullen wij de diverse mogelijkheden met lijstwerk aan bod laten komen. Al uw vragen over lijstwerk, ornamenten of andere zaken zullen wij naar behoren beantwoorden. Vervolgens ontvangt u van ons een voorstel welke in teken staat van vakkundigheid en transparantie. Zo komt u achteraf niet voor onaangename verrassingen te staan en weet u vooraf dus precies waar u aan toe bent.</p>

        <p>Naast lijstwerk kunnen wij u ook helpen bij de afbouw van uw woning indien u daar prijs op stelt.</p>
    </div>
</main>
{% endblock %}
