{% extends 'base.html' %}

{% block content %}
<main style="display: flex; justify-content: center; align-items: center; max-width: 800px; margin: 0 auto; padding-top: 250px;">
    <div style="text-align: center;">
        <h3>Privacy Verklaring</h3>
        <p>Duiveman b.v. respecteert in onze activiteiten uw privacy. Wij willen u zo goed mogelijk van dienst zijn. Daarom hebben wij soms persoonlijke gegevens nodig om die dienstverlening zo optimaal en veilig mogelijk te laten verlopen.</p>

        <p>Het beschermen van de veiligheid en privacy van uw persoonlijke gegevens is niet alleen in uw belang maar ook in het belang van Duiveman b.v. zelf.</p>

        <p>Duiveman b.v. volgt hiermee ook de wet- en regelgeving, die eisen stelt aan het gebruik van privacygevoelige informatie.</p>

        <h3>Persoonlijke informatie</h3>
        <p>U kunt onze website bezoeken zonder dat u ons vertelt wie u bent en zonder dat u daarvoor persoonlijke gegevens moet vrijgeven. Als u besluit ons die persoonlijke informatie te willen geven die wij nodig hebben voor het aanvragen van een product, of met u te kunnen corresponderen, garanderen wij dat die informatie vertrouwelijk wordt behandeld.</p>

        <h3>Beveiliging en kwaliteit van de informatie</h3>
        <p>Duiveman b.v. streeft ernaar de kwaliteit, vertrouwelijkheid, juistheid en volledigheid van de persoonlijke informatie te bewaken. Wij gebruiken adequate technische en beheersprocedures om de informatie nauwkeurig, actueel en compleet te houden. Aanvragen van klanten voor het aanpassen of verwijderen van persoonlijke informatie worden zo snel mogelijk behandeld. Wanneer u aangeeft dat bepaalde informatie niet mag worden gebruikt als basis voor verder contact, respecteren wij dat. Hierdoor blijft uw privacy gewaarborgd. Voor zover benodigd, is de persoonsgegevensverwerking door Duiveman b.v. aangemeld bij het College Bescherming Persoonsgegevens (CBP).</p>

        <h3>Cookies</h3>
        <p>Wanneer u onze website bezoekt kunnen wij tijdelijk enige informatie opslaan op uw computer in de vorm van een "cookie". Het opslaan van tijdelijke gegevens in een cookie helpt ons om de inhoud van onze website beter af te stemmen op uw behoeften en het gebruikersgemak te vergroten. De gegevens worden in een tijdelijke cookie opgeslagen. Dit betekent dat de door u ingevulde gegevens slechts zolang bewaard worden als dat u uw internetbrowser geopend heeft. Bij het beëindigen van uw browser wordt het cookie verwijderd.</p>

        <h3>Links naar andere sites</h3>
        <p>De website bevat links naar websites van andere partijen. Duiveman b.v. draagt geen verantwoording over de vertrouwelijkheid, juistheid en volledigheid van de gegevens op sites van andere partijen.</p>

        <h3>Contact</h3>
        <p>Heeft u vragen of opmerkingen over ons privacy beleid, dan vindt u op onze contactpagina alle informatie waarmee u contact met ons kunt opnemen. Uiteraard waarderen wij goede suggesties ten zeerste, aarzel niet ons te vertellen op welke punten wij onze service mogelijk kunnen verbeteren.</p>
        <p><a href="{% url 'contact' %}">Naar onze contactpagina</a></p>

        <p>Duiveman b.v. behoudt zich het recht voor deze privacyverklaring te allen tijde en zonder kennisgeving vooraf te wijzigen. Elke verandering wordt kenbaar gemaakt op onze website.</p>
    </div>
</main>
{% endblock %}
