{% extends 'base.html' %}

{% block content %}
<main style="display: flex; justify-content: center; align-items: center; max-width: 800px; margin: 0 auto; padding-top: 250px;">
    <div style="text-align: center;">
        <h2>Spuitwerk</h2>
        <p>Bij Duiveman BV bieden we hoogwaardig spuitwerk aan voor zowel muren als plafonds. Onze spuittechnieken geven uw ruimtes een unieke uitstraling en zijn geschikt voor diverse toepassingen.</p>

        <h3>Materialen</h3>
        <p>We werken met verschillende materialen, waaronder:</p>

        <ul>
            <li><strong>Spack</strong> heeft een grove korrel en is geschikt voor zowel wanden als plafonds.</li>
            <li><strong>Diamant</strong> heeft een zeer fijne en robuuste korrel, wat het ideaal maakt voor een verfijnde afwerking.</li>
            <li><strong>Briljant</strong> zeer degelijke, multifunctionele, verspuitbare pleister voor binnen op basis van kunstharsdispersie.</li>
        </ul>

        <p>Of u nu op zoek bent naar een grove textuur met spack of een verfijnde look met diamant, wij bieden de juiste oplossing voor uw behoeften. Onze vakmensen zullen uw wensen bespreken en het meest geschikte materiaal voor uw project aanbevelen.</p>

        <p>Neem contact met ons op voor meer informatie over onze spuitwerkopties en om te ontdekken hoe we uw ruimtes kunnen transformeren.</p>
    </div>
</main>
{% endblock %}
