{% extends 'base.html' %}

{% block content %}
<main style="display: flex; justify-content: center; align-items: center; max-width: 800px; margin: 0 auto;">
    <div style="text-align: center;">
        <h3>Laat je stucwerk door een vakman doen</h3>
        <p>
            Duiveman Wand en Plafondspuitbedrijf BV is een gespecialiseerd bedrijf dat alle vormen van stucwerk en sierpleister tot in de finesses beheerst. Wij werken uitsluitend met echte vakmensen die de beschikking hebben over professionele middelen. Of het nu gaat om het stukadoren van vele honderden vierkante meters of slechts een klein halletje, Duiveman Wand en Plafondspuitbedrijf neemt elke opdracht serieus en levert keurig vakwerk af met garantie.
        </p>
        <h3>Stucwerk specialist in persoonlijke sfeer</h3>
        <p>
            Duiveman Wand en Plafondspuitbedrijf levert niet alleen stucwerk, maar is ook dé specialist om een geheel persoonlijke sfeer te creëren in uw woning, bedrijfs- of kantoorpand. Graag nodigen we uit om contact met ons op te nemen voor een geheel vrijblijvende afspraak. Kijk rustig rond op onze website want de voorbeelden van professioneel stucwerk, spachtelputz en spuitwerk en muurschilderingen.
        </p>
        <h3>Nieuwe woning? Stucwerk maakt het helemaal af</h3>
        <p>
            Binnenkort verhuizen? Dan heeft u een vakman nodig die het stucwerk van uw woning met een professioneel oog bekijkt en u adviseert over de vele mogelijkheden. Stucwerk is de finishing touch van uw woonhuis en kan een woning onmiddellijk een compleet nieuw aanzicht geven. Met stucwerk schept u uw eigen sfeer in uw woning, vooral ook omdat u vrij bent in het spelen met kleuren en materialen. Onze vakmensen adviseren u graag over de diversiteit aan mogelijkheden. Duiveman BV werkt met geavanceerde spuittechnieken, maar levert ook sierpleisterwerk en ornamenten. De mogelijkheden om uw muur of plafond met stucwerk een meer exclusieve uitstraling te geven zijn legio.
        </p>
        <p>
            Duiveman BV is van alle markten thuis en kan ook scherp offreren waar het gaat om afbouw van de woning, sierpleisterwerk, rolputz en spachtelputz.
        </p>
    </div>
</main>
{% endblock %}
